#navbar-container {
    position: absolute;
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 999999999999;
    height: 0px;
  }
  


.nav-border {
  transition: background-color 0.4s ease-in-out;
  height: 3px;
  background: transparent;
}

.nav-border.scrolled {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 45%, rgba(0,0,0,0.7595413165266106) 53%, rgba(0,0,0,0.5018382352941176) 68%, rgba(255,255,255,0) 80%);

}

.navbar {
    font-family: ROUND-BOLD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; /* Color de fondo del navbar */
    padding: 10px 20px;
    padding-top: 30px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 3vh;
    transition: background-color 0.4s ease-in-out;
  }
  
  /* scrolled navbar*/
  
  .scrolled {
    background: rgb(223,193,244);
    background: linear-gradient(90deg, rgba(223,193,244,1) 45%, rgba(223,193,244,0.75) 53%, rgba(223,193,244,0.50) 68%, rgba(255,255,255,0) 80%);
    text-decoration: none;
    background-clip: black;
  }


  
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-left ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-left li {
    margin: 1px 20px;
    margin-top: 60px;
  }
  
  /* Estilo general para los enlaces del navbar */
  .navbar-links {
    position: relative; /* Permite el uso de pseudoelementos */
    display: inline-block; /* Asegura que el enlace sea un bloque en línea para aplicar padding y margin */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    color: #3E0D56;; /* Color de texto por defecto */
    transition: color 0.3s ease; /* Transición suave para el cambio de color del texto */
    font-weight: 800;
  }
  
  /*hover de links navbar sin scroll*/
  .navbar-links:hover {
    filter: drop-shadow(
      -2px 2px  rgba(255, 191, 0, 0.826)
    );
  }
  
  /*estilos de links con scroll*/
  .navbar-links.scrolled {
    background: transparent;
    border-bottom: none;
    color: black;
  }
  
  /*hover de links navbar con scroll*/
  .navbar-links.scrolled:hover {
    filter: drop-shadow(
      -2px 2px  rgba(255, 191, 0, 0.826)
    );
  }
  
  
  /*estilo de link actual visitado */
  .navbar-links.active {
    color: rgb(255, 204, 0); /* Color del texto cuando el enlace está activo */
    filter: drop-shadow(
      -2px 2px rgb(100, 0, 133)
    );
  }

  .navbar-links.active:hover {
    color: rgb(0, 0, 0); /* Color del texto cuando el enlace está activo */
    filter: drop-shadow(
      -2px 2px  rgba(255, 191, 0, 0.826)
    );
  }
  
  .navbar-links.logoo.active {
    filter: drop-shadow(
      0 0 5px rgba(255, 191, 0, 0.723)
    );
  }
  
  .logo {
    width: 200px; /* Ancho fijo para el logo */
    height: auto; /* Mantiene la proporción del logo */
    position: relative;
    top: -10px;
  }

  .navbar-links.logoo:hover {
    filter: drop-shadow(
      0 0 5px rgba(255, 191, 0, 0.723)
    );
  }

  .navbar-right {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 50px;
  }
  
  .nav-button {
    font-family: DIGITAL;
    background-color: #d1a8ff;
    border: 3px solid black;
    border-radius: 6px;
    padding: 10px 50px;
    color: black;
    font-size: 16px;
    margin-top: -15px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 5px 5px black; /* Sombra inicial que simula estar flotando */
  }
  .nav-button:hover {
    box-shadow: none; /* Elimina la sombra cuando se presiona */
    transform: translate(4px, 4px); /* Simula que el botón se "presiona" */
  }

  
  
.button-anim {
    animation: anim 1s ease-in-out infinite;
  }


  